<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location>
        <system.webServer>
            <aspNetCore>
                <environmentVariables xdt:Transform="InsertIfMissing">
                    <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="CORECLR_PROFILER" value="{846F5F1C-F9AE-4B07-969E-05C26BC060D8}" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_CPU_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_WALLTIME_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_ALLOCATION_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_HEAP_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_EXCEPTION_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_LOCK_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_PROFILING_GC_ENABLED" value="1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_SERVICE" value="my-dotnet-app" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_VERSION" value="2.3.4" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_ENV" value="production" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_AGENT_HOST" value="127.0.0.1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                    <environmentVariable name="DD_TRACE_AGENT_PORT" value="9529" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>
